.Aear {
    width: 100%;
    display: flex;
    padding-top: 4rem;
}

.AearCenter {
    width: 60%;
    display: block;
}

.AearLeftRight {
    width: 20%;
}

.cHead {
    width: 100%;
    font-family: calibri Light;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 2rem 0rem 2rem 0rem;
    margin-bottom: 0.2rem;
}

.cHome {
    width: 100%;
    background-color: #E9ECEF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 2rem 0rem 2rem 0rem;
    border: 1px solid #b9bbbe;
    margin-bottom: 0.2rem;
    font-family: calibri Light;
    cursor: pointer;
}

.cNew {
    width: 100%;
    display: flex;
}

.cNLOCT {
    width: 50%;
    background-color: #DEAB62;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 2rem 0rem 2rem 0rem;
    border: 1px solid #c3924d;
    margin-bottom: 0.2rem;
    margin-right: 0.1rem;
    font-family: calibri Light;
    cursor: pointer;
}

.cNIECT {
    width: 50%;
    background-color: #B7D3CB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 2rem 0rem 2rem 0rem;
    border: 1px solid #90a59f;
    margin-bottom: 0.2rem;
    margin-left: 0.1rem;
    font-family: calibri Light;
    cursor: pointer;
}

.cApprove {
    width: 100%;
    background-color: #E9AAAA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 2rem 0rem 2rem 0rem;
    border: 1px solid #ea7b7b;
    margin-bottom: 0.2rem;
    font-family: calibri Light;
    cursor: pointer;

}

.dHomeAppF{
    width: 50%;
    text-align: right;
    margin-right: 0.2rem;
}
.dHomeAppE{
    width: 50%;
    text-align: left;
    margin-left: 0.2rem;
    display: block;
}


.dNewF{
    width: 40%;
    text-align: right;
    margin-right: 0.2rem;
}
.dNewE{
    width: 60%;
    text-align: left;
    margin-left: 0.2rem;
    display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .AearCenter {
        width: 80%;
    }

    .AearLeftRight {
        width: 10%;
    }

    .cHead {
        width: 100%;
    }
    

    .cHome {
        width: 100%;
    }

    .cNew {
        width: 100%;
        display: block;
    }

    .cNLOCT {
        width: 100%;
        margin-right: 0rem;
    }

    .cNIECT {
        width: 100%;
        margin-left: 0rem;
    }

    .cApprove {
        width: 100%;
        background-color: #E9AAAA;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 4px;
        padding: 2rem 0rem 2rem 0rem;
        border: 1px solid #ea7b7b;
        margin-bottom: 0.2rem;
    }
    .dHomeAppF{
        width: 30%;
    }
    .dHomeAppE{
        width: 70%;
    }
    
    
    .dNewF{
        width: 30%;
    }
    .dNewE{
        width: 70%;
    }
}