.divBackgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b8bec2 !important;
    font-family: calibri Light;
}

.CardLogin {
    width: 20%;

    @media (max-width: 768px) {
        width: 80%;
    }
}

.divHeader {
    background-color: rgb(68, 68, 68);
    width: 100%;
    padding: 2%;
    @media (max-width: 768px) {
        padding: 2rem;
    }

}

.divContent {
    padding: 8%;
    font-size: 14px;

    @media (max-width: 768px) {
        padding: 2rem;
        font-size: 12px;
    }


}

.logo {
    width: 100px;
    height: 100px;
}

.cTextLogin {
    width: 80% !important;
    background-color: #E8F0FE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: calibri Light !important;
    font-size: 14px !important;
    @media (max-width: 768px) {
        width: 100% !important;
    }
}

.btnLogin {
    background-color: #8A8E92; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    padding: 3% 10%;
    
    @media (max-width: 768px) {
        padding: 0.8rem 2rem;
    }

  }
  
  .btnLogin:hover {
    background-color: #6f7378; /* Darker Green */
  }

